<!--
  templateType: global_partial
  label: Header
-->
<header class="header" syle="background-color: blue;">

  {# Top header drag and drop area #}

  {% dnd_area 'header-top'
    label='Top header',
    class='content-wrapper'
  %}
  {% end_dnd_area %}

  {# Main header #}

  <div class="header__container content-wrapper">
    <div class="header__label">
      {% module 'header-module' path='@hubspot/header' %}
    </div>
  </div>

  {# Bottom header drag and drop area #}

  {% dnd_area 'header-bottom'
    label='Bottom header',
    class='content-wrapper'
  %}
  {% end_dnd_area %}

</header>
